.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #F5F5F5; */
  padding: 10px 20px;
  padding-top: 30px;
}


.logo {
  width: 80px;
  height: auto;
  margin-left: 200px;
}

.navLinks {
  list-style: none;
  display: flex;
}

.navLinks li:first-child a {
  margin-right: 50px;
}


.navLinks li a {
  text-decoration: none;
  color: #878787;
}

.contact{
  margin-right: 200px;
}

.contactshow{
  display: none;
}

.contact a {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  border: 2.65px solid #80DB3A;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #878787;
}

.menuicon{
  color: black;
  font-size: 26px;
  display: inline;
  font-weight: 600;
  display: none;
}


@media screen and (min-width:951px) {
  .nav ul {
    display: flex !important;
  }
}

@media screen and (max-width:950px) {
  .navLinks li:first-child a {
    margin-right: 0px;
  }


.iconmenucontainer{
  display: flex;
  align-items: center;
  margin: auto;
}

  .menuicon {
    display: inline-block;
    margin-right: 20px;
  }
  .contact a{
    display: none;
  }

  .contact, .logo{
    margin: 0;
  }

  .logo {
    width: 60px;
    height: auto;
    margin-left: 20px;
    margin-right: auto;
  }

.nav{
  display: block;
  padding: 0;
}
.contactshow{
  display: block;
}

  .nav ul {
    padding: 5px;
    width: 100%;
    display: none;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -2px;
    border-bottom: 1px solid grey;
  }

  .nav ul li {
    display: block;
    line-height: 2;
  }
}




/* --------- Footer -------------------------------------------------------------------------- */

.footercontainer{
  max-width: 1200px;
  padding-bottom: 100px;
  margin: auto;
}
.fbackground{
  background: linear-gradient(134deg, rgba(122, 193, 67, 0.50) 0%, rgba(255, 184, 49, 0.50) 100%);

}
.footergrid{
  display: flex;
}

.flogopara{
  margin-top: 30px;
}
.flogopara p{
padding: 5px;
font-weight: 600;
color: #453f3f;
font-family: 'Outfit', sans-serif;
}

.fgriditem1{
  margin-top: 30px;
  flex: 1;
  padding-left: 15px;
}
.fgriditem2{
  flex: 1;
  margin-top: 150px;
  padding-right: 15px;
}


.Fgridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
}

.Fgriditem {
  padding: 20px;
  color: #453f3f;
  text-align: center;
}

.Fgriditem11{
  margin-bottom: 20px;
  font-family: 'Outfit', sans-serif;
  font-size: 19px;
}

.Fgriditem22{
  font-weight: 400;
  font-size: 16px;
}

.Fgriditem22 a{
   text-decoration: none;
   color: #453f3f;
}
.iconsdiv{
  margin-top: 30px;
  text-align: center;
}
.iconsdiv a{
  text-decoration: none;
  color: #453f3f;
  padding: 5px;
}

@media screen and (max-width:640px) {
 .footergrid{
   display: block;
   text-align: center;
   padding-top: 30px;
 }
 .Fgridcontainer{
     display: block;
 }
 .fgriditem2{
  margin-top: 70px;
  padding-right: 0;
 }
}