.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #F5F5F5; */
  padding: 10px 20px;
  padding-top: 30px;
}


.logo {
  width: 80px;
  height: auto;
  margin-left: 200px;
}

.navLinks {
  list-style: none;
  display: flex;
}

.navLinks li:first-child a {
  margin-right: 50px;
}


.navLinks li a {
  text-decoration: none;
  color: #878787;
}

.contact{
  margin-right: 200px;
}

.contactshow{
  display: none;
}

.contact a {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  border: 2.65px solid #80DB3A;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #878787;
}

.menuicon{
  color: black;
  font-size: 26px;
  display: inline;
  font-weight: 600;
  display: none;
}


@media screen and (min-width:951px) {
  .nav ul {
    display: flex !important;
  }
}

@media screen and (max-width:950px) {
  .navLinks li:first-child a {
    margin-right: 0px;
  }


.iconmenucontainer{
  display: flex;
  align-items: center;
  margin: auto;
}

  .menuicon {
    display: inline-block;
    margin-right: 20px;
  }
  .contact a{
    display: none;
  }

  .contact, .logo{
    margin: 0;
  }

  .logo {
    width: 60px;
    height: auto;
    margin-left: 20px;
    margin-right: auto;
  }

.nav{
  display: block;
  padding: 0;
}
.contactshow{
  display: block;
}

  .nav ul {
    padding: 5px;
    width: 100%;
    display: none;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -2px;
    border-bottom: 1px solid grey;
  }

  .nav ul li {
    display: block;
    line-height: 2;
  }
}




/* ------------------------FOOTER------------------------------------ */


.footerbackground {
  /* background-color: rgb(20, 19, 19); */
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(56, 55, 55) 90.2%);
  padding-left: 150px;
  padding-right: 150px;
}


.footergrid {
  /* margin-top: 40px; */
  padding: 10px;
  align-items: self-start;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.footerbox1 {
  color: white;
  line-height: 38px;
  list-style: none;
  max-width: 500px;
  padding-left: 35px;
}


.footerbox ul {
  list-style: none;
}

.footerbox {
  color: white;
  line-height: 38px;
}


.footerbox a {
  text-decoration: none;
  color: white;
}

.footerbox a:hover {
  text-decoration: underline;
}

.Footerlogos {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Footerlogos a {
  text-decoration: none;
}

.footerheading00 {
  animation: neon 1s ease-in-out infinite alternate, pulsate 1.5s ease-out infinite;
  color: white;
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.footerheading {
  color: white;
  font-weight: 800;
  font-size: 23px;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.footercopyright {
  margin-top: 20px;
  font-weight: 700;
  word-spacing: 1.5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

.FooterIcons{
  width: 40px;
  height: 40px;
}

.Iconsdiv{
margin-top: 40px;
}

.Iconsdiv a{
text-decoration: none;
color: rgb(133, 133, 232);
padding-left: 6px;
padding-right: 6px;
}


@media screen and (max-width:1411px) {
  .footergrid {
    grid-gap: 20px;
  }
}


@media screen and (max-width:1231px) {
  .footergrid {
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
  }
}

@media screen and (max-width:868px) {
  .footergrid {
    grid-template-columns: auto auto;
  }

  .footerbox {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .footerbackground{
    padding-left: 15px;
  padding-right: 15px;
  }
}

@media screen and (max-width:538px) {
  .footergrid {
    display: block;
  }

  .Footerlogos {
    text-align: center;
  }

  .footerbox1 {
    padding-left: 0px;
    margin: 0px;
    text-align: center;
  }
}


@media screen and (max-width:538px){
  .footerbackground{
    padding: 5px;
  }
}


/*-------------------------         Footer   ------------------------------------------------- */